{% extends 'base.html' %}

{% block title %}Add new organ{% endblock %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token%}

    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}"><b>Organ:</b></label><br>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <br><label for="{{ form.description.id_for_label }}"><b>Description:</b></label><br>
        {{ form.description }}
    </div>

    <div class="mb-3">
        <br><label for="{{ form.image.id_for_label }}"><b>Image:</b></label>
        {{ form.image }}
        <br><img class="img-small" id="previewImg" src="">
    </div><br>

    <input type="submit" value="Add">
</form>

{% endblock %}
