{% extends 'base.html' %}
{% load has_group %}

{% block title %}Diseases{% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <h3 style="color: darkblue" align="center">{{ message }}</h3><br>
    {% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
    {% if request.user|has_group:"Doctors" or request.user.is_superuser %}
        <button type="button" class="btn btn-outline-light">
            <a href="{% url 'add_disease' %}">Add new disease</a>
        </button><br><br>
    {% endif %}
{% endif %}

<input id="searchInput" type="text" placeholder="search disease.."><br><br>
{% if diseases %}
    <ul id="searchList">
        {% for disease in diseases %}
            <li style="list-style:none;" data-name="{{ disease.name }}">
                <span>&#8226;</span>
                <a style="color: black" href="{% url 'disease_details' disease.pk %}">
                    <b>{{ disease.name }}</b></a><br><br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No diseases found.</p>
{% endif %}

{% endblock %}
