{% extends 'base.html' %}

{% block title %}Home page{% endblock %}


{% block content %}

<div align="center">

    {% if messages %}
        {% for message in messages %}
            <h3 style="color: darkblue;">{{ message }}</h3>
        {% endfor %}
    {% endif %}
    
    <br>

    {% if request.user.is_authenticated %}
        <br><br><h1>Hello, {{ request.user.full_name }}! </h1>
        <br><br><h3>Now you can start to work with the <b>MedicalWebSite</b>!</h3>
        <br><br><br><h5><a href="{% url 'change_data' request.user.pk %}">
            <b>Here you can change you personal data</b>
        </a></h5>
        <br><h5><a href="{% url 'change_password' request.user.pk %}">
            <b>Here you can change you password</b>
        </a></h5>
    {% else %}
        <h1>Welcome!</h1><br>
        <h3>This is the <b>MedicalWebSite</b> allows you to search for diseases by symptoms,
            affected organs and/or the geographical location of the spread.</h3><br>
        <h5>If you are doctor and have a valid license you can add to the DataBase new diseases
            with all important information (affected organs, symptoms etc.).</h5><br>
        <h5>Please, <a href="{% url 'log_in' %}">log in</a> or
            <a href="{% url 'registration' %}">register</a>
            on our <b>MedicalWebSite</b> for more options.</h5><br>
    {% endif %}
    
    <br><br>

    <h4>If you have any questions or suggestions please 
        <a href="{% url 'contact_page' %}">contact us</a>.
    </h4>

</div>

{% endblock %}
