{% extends 'base.html' %}
{% load has_group %}

{% block title %}Organs{% endblock %}


{% block content %}

<h4 align='center'>This is a DEMO version of the MedicalWebSite. <br> The images are saved in the database, 
    but due to a reboot of the Heroku server, they disappear after a while.
</h4>

{% if messages %}
    {% for message in messages %}
        <h3 style="color: darkblue" align="center">{{ message }}</h3><br>
    {% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
    {% if request.user|has_group:"Doctors" or request.user.is_superuser %}
        <button type="button" class="btn btn-outline-light">
            <a href="{% url 'add_organ' %}">Add new organ</a>
        </button><br><br>
    {% endif %}
{% endif %}

<input id="searchInput" type="text" placeholder="search organ.."><br><br>
{% if organs %}
    <ul id="searchList">
        {% for organ in organs %}
            <li style="list-style:none;" data-name="{{ organ.name }}">
                <span>&#8226;</span> <b>{{ organ.name }}:</b><br>
                {% if organ.image %}
                    <a class="image" href="{{ organ.image.url }}">
                        <img class="img-small img-left" src="{{ organ.image.url }}">
                    </a>
                    <div class="lightbox">
                        <div class="lightbox-cnt">
                            <img src="" class="lightbox-img">
                            <button class="lightbox-close"><span>&#10006;</span></button>
                        </div>
                    </div>
                {% endif %}
                {{ organ.description|linebreaks }}<br><br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No organs found.</p>
{% endif %}


{% endblock %}
