{% extends 'base.html' %}

{% block title %}Add new disease{% endblock %}


{% block content %}

{% if message %}
    <h3 style="color: red;" align="center">{{ message }}</h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token%}

    <b>{{ form.name.label }}:</b>
    {{ form.name }}

    <b>{{ form.description.label }}:</b>
    {{ form.description }}

    <b>{{ form.geographical_area.label }}:</b><br>
    {{ form.geographical_area }}

    <b>{{ form.affected_organs.label }}:</b><br>
    {{ form.affected_organs }}

    <b>{{ form.symptoms.label }}:</b><br>
    <input id="myInputSymptom" type="text" placeholder="search symptom.."><br>
    {{ form.symptoms }}

    <b>{{ form.treatment.label }}:</b><br>
    {{ form.treatment }}

    <input type="submit" id="btn-add-disease" value="Add">
</form>

{% endblock %}
