{% extends 'base.html' %}

{% block title %}Add new symptom{% endblock %}


{% block content %}

{% if message %}
    <h3 style="color: red;" align="center">{{ message }}</h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token%}

    <div class="mb-3">
        <label for="name" class="form-label"><b>Symptom:</b></label>
        <input type="text" maxlength="255" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label class="form-label"><b>Affected organ:</b></label><br>
        <select size="1" name="affected_organ">
            {% for organ in organs %}
                <option value="{{ organ.pk }}">{{ organ.name }}</option>
            {% endfor %}
        </select><br><br>
    </div>
    <input type="submit" value="Add">
</form>

{% endblock %}
