{% extends 'base.html' %}

{% block title %}Add new disease{% endblock %}


{% block content %}

{% if message %}
    <h3 style="color: red;" align="center">{{ message }}</h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token%}

    <div class="mb-3">
        <label for="name" class="form-label"><b>Disease:</b></label>
        <input type="text" maxlength="255" class="form-control" id="name" name="name">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label"><b>Description:</b></label>
        <textarea class="form-control" id="description" name="description" rows="5"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label"><b>Affected organs:</b></label><br>
        <input id="myInput" type="text" placeholder="search organ.."><br><br>
            {% if organs %}
                <ul id="myList">
                    {% for organ in organs %}
                        <li style="list-style:none;">
                            <input type="checkbox" id="affected_organs" name="affected_organs" value="{{ organ.pk }}">
                            <label for="affected_organs">{{ organ.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No organs found.</p>
            {% endif %}
    </div>

    <div class="mb-3">
        <label class="form-label"><b>Symptoms:</b></label><br>
        <input id="myInput2" type="text" placeholder="search symptom.."><br><br>
        {% if symptoms %}
            <ul id="myList2">
                {% for symptom in symptoms %}
                    <li style="list-style:none;">
                        <input type="checkbox" class="input-symptoms" id="symptoms" name="symptoms" value="{{ symptom.pk }}">
                        <label for="symptoms">{{ symptom.name }}</label>
                        (<i>frequency:</i>
                        <select class="select-frequency" name="symptom_frequency" id="select-frequency">
                            {% for symptom_frequency in symptom_frequency_choices %}
                                <option value="{{ symptom_frequency.0 }}">{{ symptom_frequency.1 }}</option>
                            {% endfor %}
                        </select>
<!--                            {% for symptom_frequency in symptom_frequency_choices %}-->
<!--                                <input type="checkbox" id="symptom_frequency" name="symptom_frequency"-->
<!--                                       value="{{ symptom_frequency.0 }}">-->
<!--                                <label for="symptom_frequency">{{ symptom_frequency.1 }}</label>-->
<!--                            {% endfor %}-->
                        )<br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No symptoms found.</p>
        {% endif %}
    </div>

    <div class="mb-3">
        <label class="form-label"><b>Geographical Area:</b></label><br>
        <input id="myInput3" type="text" placeholder="search geographical area.."><br><br>
        <ul id="myList3">
            {% for a in geographical_area %}
                <li style="list-style:none;">
                    <input type="checkbox" id="geographical_area" name="geographical_area"
                       value="{{ a.pk }}">
                    <label for="geographical_area">{{ a.area }}</label><br>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-3">
        <label class="form-label"><b>Treatment:</b></label><br>
        <input id="myInput4" type="text" placeholder="search treatment.."><br><br>
        <ul id="myList4">
            {% for tr in treatment %}
                <li style="list-style:none;">
                    <input type="checkbox" id="treatment" name="treatment"
                           value="{{ tr.pk }}">
                    <label for="treatment">{{ tr.treatment }}</label><br>
                </li>
            {% endfor %}
        </ul>
    </div>

    <input type="submit" id="btn-add-disease" value="Add">
</form>

{% endblock %}
