{% extends 'base.html' %}

{% block title %}Change password{% endblock %}


{% block content %}

<h2 align="center">Change you password</h2><br>

<div align="center">
    <form method="POST">
        {% csrf_token %}

        {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <b>{{ form.old_password.label }}:</b>
        {{ form.old_password }}

        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <br><br><b>{{ form.new_password1.label }}:</b>
        {{ form.new_password1 }}

        <div id="passwordHelpBlock" class="form-text">
            Your password can't be too similar to your other personal information, must contain <br>
            at least 8 characters, can't be a commonly used password and can't be entirely numeric.
        </div><br>

        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <b>{{ form.new_password2.label }}:</b>
        {{ form.new_password2 }}

        <div id="passwordHelpBlock" class="form-text">
            Enter the same password as before, for verification.
        </div><br>

        <br><input type="submit" value="Change">
    </form>
</div>

{% endblock %}
