{% extends 'base.html' %}

{% block title %}Change password{% endblock %}


{% block content %}

<h2 align="center">Change you password</h2><br>

<div align="center">
    <form method="POST">
        {% csrf_token %}

        <b>{{ form.password.label }}:</b>
        {{ form.password }}

        <div id="passwordHelpBlock" class="form-text">
            Your password can't be too similar to your other personal information, must contain <br>
            at least 8 characters, can't be a commonly used password and can't be entirely numeric.
        </div><br>

        <b>{{ form.repeat_password.label }}:</b>
        {{ form.repeat_password }}

        <div id="passwordHelpBlock" class="form-text">
            Enter the same password as before, for verification.
        </div><br>

        <br><input type="submit" value="Change">
    </form>
</div>

{% endblock %}
