{% extends 'base.html' %}
{% load has_group %}

{% block title %}Geographical Areas{% endblock %}


{% block content %}

{% if request.user.is_authenticated %}
    {% if request.user|has_group:"Doctors" %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token%}

            <div class="mb-3">
                <label for="{{ form.area.id_for_label }}"><b>Add new one:</b></label><br>
                {{ form.area }}
            </div>

            <div class="mb-3">
                <label for="{{ form.image.id_for_label }}"><b>Image:</b> </label>
                {{ form.image }}
                <br><img class="img-small" id="previewImg" src="">
            </div>

            <input type="submit" value="Add">
        </form><br><br>
    {% endif %}
{% endif %}

<input id="myInput" type="text" placeholder="search geographical area.."><br><br>

{% if areas %}
    <table class="areas-table" id="myTable">
        {% for area in areas %}
            {% if forloop.counter0|divisibleby:4 %}
                <tr>
            {% endif %}
                <td>
                    <h3 align="center" style="padding-bottom: 7px">{{ area.area }}</h3>
                    {% if area.image %}
                        <a class="image" href="{{ area.image.url }}">
                            <img class="img-small" src="{{ area.image.url }}">
                        </a>
                    {% endif %}
                </td>
            {% if forloop.counter|divisibleby:4 %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
{% else %}
    <p>No areas found.</p>
{% endif %}

<div class="lightbox">
    <div class="lightbox-cnt">
        <img src="" class="lightbox-img">
        <button class="lightbox-close"><span>&#10006;</span></button>
    </div>
</div>


{% endblock %}
