{% extends 'base.html' %}

{% block title %}Registration{% endblock %}


{% block content %}

<h2 align="center">Registration</h2><br>

<div align="center">


<form method="POST">
    {% csrf_token %}

    <b>{{ form.first_name.label }} and {{ form.last_name.label }}:</b>
    {{ form.first_name }}
    {{ form.last_name }}

    <br><br><b>{{ form.username.label }}:</b>
    {{ form.username }}

    <div id="passwordHelpBlock" class="form-text">
        150 characters or fewer. Letters, digits and @/./+/-/_ only.
    </div><br>

    <b>{{ form.email.label }}:</b>
    {{ form.email }}

    <br><br><b>{{ form.password.label }}:</b>
    {{ form.password }}

    <div id="passwordHelpBlock" class="form-text">
        Your password can't be too similar to your other personal information, must contain <br>
        at least 8 characters, can't be a commonly used password and can't be entirely numeric.
    </div><br>

    <b>{{ form.repeat_password.label }}:</b>
    {{ form.repeat_password }}

    <div id="passwordHelpBlock" class="form-text">
        Enter the same password as before, for verification.
    </div><br>

    <b>{{ form.medical_license.label }}:</b>
    {{ form.medical_license }}

    <br><br><input type="submit" value="Register">
</form>
</div>

{% endblock %}
