{% extends 'base.html' %}

{% block title %}Search disease{% endblock %}


{% block content %}

<form method="POST">
    {% csrf_token %}

    <b>{{ form.affected_organs.label }}:</b>
    <table class="search-diseases-table">
        {% for organ in form.affected_organs %}
            {% if forloop.counter0|divisibleby:10 %}
                <tr>
            {% endif %}
                <td>{{ organ }}</td>
            {% if forloop.counter|divisibleby:10 %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table><br>

    <b>{{ form.geographical_area.label }}:</b>
    <table class="search-diseases-table">
        {% for area in form.geographical_area %}
            {% if forloop.counter0|divisibleby:7 %}
                <tr>
            {% endif %}
                <td>{{ area }}</td>
            {% if forloop.counter|divisibleby:7 %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table><br>

    <b>{{ form.symptoms.label }}:</b>
    <input id="myInput" type="text" placeholder="search.."><br><br>
    <table class="search-diseases-table-symptoms" id="myTable">
        {% for symptom in form.symptoms %}
            {% if forloop.counter0|divisibleby:4 %}
                <tr>
            {% endif %}
                <td>{{ symptom }}</td>
            {% if forloop.counter|divisibleby:4 %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>

    <br><br><p align="center"><input type="submit" value="Search"></p>
</form>


{% endblock %}
