{% extends 'base.html' %}

{% block title %}Symptoms{% endblock %}


{% block content %}

<button type="button" class="btn btn-outline-light"><a href="{% url 'add_symptom' %}">Add new symptom</a></button>
<br><br>
<input id="searchInput" type="text" placeholder="search symptom.."><br><br>
{% if symptoms %}
    <ul id="searchList">
        {% for symptom in symptoms %}
            <li style="list-style:none;" data-name="{{ symptom.name }}">
                <span>&#8226;</span> <b>{{ symptom.name }}</b> (affected organ: {{ symptom.affected_organ }})<br><br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No symptoms found.</p>
{% endif %}

{% endblock %}
