{% extends 'base.html' %}
{% load has_group %}

{% block title %}Symptoms{% endblock %}


{% block content %}

<div class="symptoms-view">
    <div>
        <p align="center"><input id="searchInput" type="text" placeholder="search symptom.."></p>
        {% if symptoms %}
            <ul id="searchList">
                {% for symptom in symptoms %}
                    <li style="list-style:none;" data-name="{{ symptom.name }}">
                        <span>&#8226;</span> <b>{{ symptom.name }}</b> (affected organ: {{ symptom.affected_organ }})<br><br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No symptoms found.</p>
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
        {% if request.user|has_group:"Doctors" %}
            <div align="center">
                <h4>Add new symptom</h4><br>
                <form action="" method="POST">
                    {% csrf_token%}

                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}"><b>Symptom:</b></label><br>
                        {{ form.name }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.affected_organ.id_for_label }}"><b>Affected organ:</b></label><br>
                        {{ form.affected_organ }}
                    </div>

                    <input type="submit" value="Add">
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
