body {
    background-color: lightblue;
}

.body-content {
    padding: 20px;
}

.menu {
    background-color: #87ceeb;
    padding: 5px;
    margin: 10px 5px;
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
    border: 1px solid black;
}

.menu-a {
    padding: 5px;
    color: black;
    text-decoration: none;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: white;
    text-align: center;
}

.search-diseases-table td {
    padding: 3px 13px;
    width: 200px;
    height: 50px;
    border: 1px solid white;
}

.search-diseases-table-symptoms td {
    padding: 5px 13px;
    width: 1000px;
    height: 50px;
    border: 1px solid white;
}